body{
    background-color: #FFDFB9;
    margin: 0px;
    display: flex;
    flex-direction: column;
}

.header{
    background-color: #A4193D;
    font-size: 40px;
    font-weight: bold;
    color: #FFDFB9;
    text-align: center;
    padding: 20px;
    margin-bottom: 10px;
}

.content{
    text-align: center;
}

p{
    color: #A4193D;
    font-size: 24px;
    font-weight: bold;
}

a{
    text-decoration: none;
    color: black;
}

ul{
    display: flex;
    color: #A4193D;
    flex-direction: column;
    list-style-type: none;
    font-size: 28px;
    font-weight: bold;
    gap: 10px;
    margin: 0px;
    padding: 0px;
}

